<div class="row">
    <div class="col-md-4">
        <div>
            <div class="brdr w-25 mb-3"></div>
            <h2>Trending</h2>
            <h2>Movies</h2>
            <h2>to wach now</h2>
            <span class="spana">most watched movies by day</span>
            <div class="brdr w-100 mt-3"></div>

        </div>
    </div>
    <div *ngFor="let movie of trendingMovies" class="col-md-2 mb-3">
        <div>
            <img class="w-100 mb-3" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}">
            <h4>{{movie.title}}</h4>
            <a routerLink="/details/{{movie.media_type}}/{{movie.id}}" class="btn btn-info">Details</a>

        </div>
    </div>
</div>